@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

/* global */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
}

.row,
.padding,
.col-xs-12,
.col-sm-6,
.col-lg-6,
.col-xl-6 {
  margin: 0 !important;
  padding: 0 !important;
}
#taiwan-info {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

section.container-fluid, section.container{
  padding: 150px 0 150px 0 !important;
}

/* global */

/* sections */

.site-header {
  background-color: rgba(0, 0, 0, 0);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}

.site-header a:hover {
  color: rgba(0, 0, 0, .85);
  text-decoration: none;
}

nav {
  color: white;
}

.nav-color {
  background-color: black;
}

a.nav-link:hover{
  color: #999 !important;
}

a.logo{
  font-weight: bold;
  font-size: 2rem;
}

a.logo:hover {
  color: white !important;
}

li.nav-item {
  font-size: 1.5rem;
}

a.nav-link:hover {
  color: black;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.content {
  padding-left: 0;
  padding-right: 0;
}

#cities {
  padding-top: 50px !important;
  padding-bottom: 0 !important;
}

.city, .post{
  border: 1px solid inherit;
  height: auto;
  width: 100px !important;
  border-radius: 10px;
  margin: 0 5px 0 5px;
  padding: 10px 0 10px 0;
}

#posts {
  margin: 0 0 50px 0 !important;
}

/* About Us Section */
#about-us {
  display: inline-block;
  height: auto;
  width: 100%;
  background: #E6E6E6;
}

#text {
  height: 100%;
  width: 100%;
}

.big-text {
  font-weight: bold !important;
  font-size: 4rem;
}

#text p {
  font-size: 1.75rem;
}

#img1,
#img2,
#img3,
#img4{
  height: 300px;
  padding: 5px 5px;
}

/* About Us Section */

.img-container {
  display: flex;
  margin-bottom: 50px;
}

.img-container img {
  margin-left: auto;
  margin-right: auto;
}

#api {
  width: 100%;
  height: 100%;
  float:left;
}

#api iframe {
  width: 100%;
  height: 100%;
}

#posting-area {
  width: auto;
  height: auto;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

#post-on-ptt {
  display: flex;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  color: white;
  font-size: 1.25rem;
  background: #242930;
  height: auto;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0;
}

footer ul, p#tm{
    margin-top: 10px !important;
}

footer ul li{
  display: inline !important;

}

footer ul li a{ 
  color: white;
  text-decoration: none;
  cursor: pointer;
  margin-right: 20px;
}

footer ul li a:hover {
  color: #999;
  text-decoration: none;
}

@media (max-width: 768px) {
  li#tm {
    float:left;
  }
}